$white-smoke: #f1f1f1;
$white: #fff;
$black: #000;
$gray: #909090;
$primary-deep-blue: #0b0c4c;
$primary-blue: #0b369f;
$primary-orange: #ed4622;
$primary-gray: #e3e7f2;
$off-black: #212121;
$secondary-orange: #ff7621;
// $light-blue: #b7c2f3;
$light-blue: #b9c1e2;
$accent-blue: #192287;
$scorpion: #595959;
$silver-chalice: #b1b1b1;
$milano-red: #c81600;
$tulip-tree: #eac631;
$conifer: #c0d546;
$dodger-blue: #38a0ff;
$portage: #a595f2;
$vida-loca: #539f22;
$jungle-green: #2ea18a;
$downy: #65c8bc;
$apricot: #e48e62;
$shocking: #dd92bf;
$tapestry: #b76588;
$vivid-violet: #71398f;
$gainsboro: #dadada;
$juice: #db524e;
$periwinkle-gray: #b9c1e2;
$robins-egg-blue: #00c4df;
$japanese-laurel: #337e02;
$california: #ff9a03;
$brandy-punch: #d28d25;
$hot-pink: #ffad7e;
$shocking: #dd92bf;
$butterfly-bush: #534ca6;
$havelock-blue: #6586da;
$red-berry: #8c0000;
$persimmon: #ff5959;
$cod-gray: #111;
$saratoga: #515b10;
