@use '~styles/variables' as *;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form {
  width: 500px;
  // height: 500px;
  margin-top: 200px;
  color: black;
}

.field {
  display: flex;
  flex-direction: column;

  & > *:first-child {
    margin-bottom: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.input {
  width: 100%;
  padding: 10px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;

  &::placeholder {
    color: #0b0c4c4d;
  }
}

.checkBoxWrapper {
  display: flex;
}

.checkbox {
  margin-right: 10px;
}
